*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-size: 40px;
}
nav{
    background-color: gray;
    position: sticky;
    text-decoration: none;
}
ul li{
    list-style: none;
    font-size: 30px;
    padding: 20px;
    display: inline-flex;
    position: sticky;
    color: white;
    text-decoration: none;
}
ul li a{
    text-decoration: none;
}
.space{
    background-image: url(apple2.jpg);
    height: 300px;
    width: 100%;
    text-align: center;
    color: white;
    display: block;
    background-size: cover;
    background-repeat: repeat-x;
    }
    button{
        margin-top: 40px;
        text-align: center;
        text-decoration: none;
    }
    button a{
        text-decoration: none;
    }
    img{
        width: 300px;
        height: 200px;
    }
    .veggies{
        margin-top: 30px;
        padding-bottom: 40px;
        
    }
    h2{
        text-align: center;
        font-size: 50px;
    }
    .flx{
        margin-top: 20px;
        display: inline-flex;
        justify-content: space-evenly;
        margin-left: 20px;
    }
    .flex{
        margin-top: 20px;
        display: inline-flex;
        justify-content: space-around;
        margin-left: 70px;
        width: 350px;
    }
